<div class="container">
  <div class="wrapper">
    <img class="banner-image" src="{{car.imageUrl}}">
    <h1>{{car.model}}</h1>
    <p>{{car.description}}</p>
    <div class="car-details">
      <p class="price">Price: <span>{{car.price}}</span> USD</p>
      <p class="color">Color: <span>{{car.color}}</span></p>
    </div>
  </div>
</div>